body {
  background: linear-gradient(to bottom right, #2b004f, #eb9626);
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.row {
  display: flex;
  gap: 100px;
}



.box {
  cursor: pointer;
  user-select: none;
  width: 15vw;
  min-width: 200px;
  height: 35vh;
  background-color: #d6ada2;
  transform: scale(1);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: bold;
  color: #8860af;
  border-radius: 10px;
}

.box:hover {
  outline: 2px solid #d6ada2;
  box-shadow: 0 0 40px #d6ada2;
  transform: scale(1.2);
  transition: all 0.5s;
}

.row > * {
  margin-right: 100px;

}

/* remove right margin on last item */
.row > *:last-child {
  margin-right: 0;
}